<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html">
        <title>Asociaciones Registradas</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
    
    <body>
        <div class="container p-4">
            <h2 class="section__title">Asociaciones Registradas</h2>
            <table class="table table-striped"> 
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Pais</th>
                        <th>Presidente</th>
                       
                        <th>Acciones</th>
                    </tr>
                </thead>
        
                <tbody>
                            <tr th:each="asociacion: ${listaAsociacion}">
                                <td th:text="${asociacion.id}"></td>
                                <td th:text="${asociacion.nombre}"></td>
                                <td th:text="${asociacion.pais}"> </td>
                                <td th:text="${asociacion.presidente}"> </td>
                                
                                <td>
									<a class="btn btn-black btn-xs" th:href="@{'/asociacion/editar'+ '/' + ${asociacion.id}}" th:text="'editar'"></a>
									&nbsp; &nbsp;
									<a class="btn btn-danger btn-xs" th:href="@{'/asociacion/eliminar'+ '/' + ${asociacion.id}}" th:text="'eliminar'"></a>	
								</td>
                            </tr>
                
                 </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <div class="p-3"><br><a th:href="@{/verAsociacion/formAsociacion}" class="btn btn-dark">Insertar Asociacion</a></div>
                <div class="p-3"><br><a th:href="@{/}" class="btn btn-dark">Inicio</a></div>
            </div>
         </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
     </body>
</html>